
<div class="card-group">
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/joaquin2000cortes/image/upload/v1592973136/Pan-casero-f%C3%A1cil_n6evb5.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Descripción del producto</p>
            <a href="#" class="btn btn-primary">Agregar al carro</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/joaquin2000cortes/image/upload/v1592973136/Pan-casero-f%C3%A1cil_n6evb5.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Descripción del producto</p>
            <a href="#" class="btn btn-primary">Agregar al carro</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/joaquin2000cortes/image/upload/v1592973136/Pan-casero-f%C3%A1cil_n6evb5.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Descripción del producto</p>
            <a href="#" class="btn btn-primary">Agregar al carro</a>
        </div>
    </div>
</div>


@code {

}
