@page "/Perfil"
<h3>PerfilUsuario</h3>

<div class="row">
    <div class="col-md-6">
        <img width="150" height="150" src="https://res.cloudinary.com/joaquin2000cortes/image/upload/v1593304032/perfil-hombre-dibujos-animados_18591-58483_irgbvm.jpg" alt="Alternate Text" />
        <div class="container">
            <p>Nombre</p>
            <p>Apellido</p>
            <p>Correo</p>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Número de pedido</th>
                    <th scope="col">Tipo de compra</th>
                    <th scope="col">Costo total</th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Cotización</td>
                <td>$23000</td>
            </tr>
        </table>
    </div>
</div>

@code {

}
